# IDE and editor folders
.idea/
.vscode/

# Python virtual environments
.venv/
venv/

# Python bytecode files
*.pyc
__pycache__/

# Environment files
.env
*.env
app/.env

# System files
.DS_Store
Thumbs.db
